
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>

    <div class="container">

        <h2 class="mt-5 mb-5 text-center">Список Курсов</h2>
          <button class="btn btn-md btn" type="">
          </button>
        <div class="mt-5 mb-5" style="max-width: 600px;">
        </div>
         <table class="table">
          <thead>
            <tr>
               <th scope="col">id</th>
              <th scope="col">Язык программирование</th>
              <th scope="col">Дата начала</th>
              <th scope="col">Дата окончания</th>

            </tr>
          </thead>
          <tbody>
          {% for course in courses %}
            <tr>
              <th scope="row">{{ course.id }}</th>
              <td>{{ course.language }}</td>
              <td>{{ course.date_start }}</td>
              <td>{{ course.date_end }}</td>

                <td><a href="{{ url_for('admin_course_update', course_id=course.id) }}">Изменить</a></td>
                <td><a href="{{ url_for('admin_course_delete', course_id=course.id) }}">Удалить</a></td>
            </tr>
          {% endfor %}

          </tbody>

        </table>
        <div>
            <button class="btn btn-md btn" type="">
                <a href="{{ url_for('course_add') }}">Добавить курс</a>
            </button>
        </div>



    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <div class="toast"  style="position: absolute; bottom: 20px; right: 20px;"
           role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
            <div class="toast-header">
              <strong class="mr-auto">{{ category }}</strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              {{ message }}
            </div>
          </div>
        {% endfor %}
        {% endif %}
    {% endwith %}



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script>
        $('.toast').toast('show')
    </script>
</body>
</html>
